In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("UCI_Credit_Card.csv")
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [ ]:
df = df.rename(columns={'default.payment.next.month': 'Target'})

In [ ]:
df['default.payment.next.month'].value_counts()

default.payment.next.month
0    23364
1     6636
Name: count, dtype: int64

In [ ]:
def drop_correlated_features(df, target, threshold=0.9):
  
    corr = df.corr().abs()
    target_corr = corr[target].drop(target)

    upper = corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))
    
    to_drop = set()

    for col in upper.columns:
        for row in upper.index:
            value = upper.loc[row, col]
            if not np.isnan(value) and value > threshold:
                
                if target_corr[row] < target_corr[col]:
                    to_drop.add(row)
                else:
                    to_drop.add(col)

    return list(to_drop)

cols_to_drop = drop_correlated_features(df, target="default.payment.next.month", threshold=0.85)

print("will drop columns", cols_to_drop)

df = df.drop(columns=cols_to_drop)

will drop columns ['BILL_AMT3', 'BILL_AMT4', 'BILL_AMT6', 'BILL_AMT2', 'BILL_AMT5']

In [ ]:
df.isnull().sum().sum()

np.int64(0)

In [ ]:
X = df.drop('default.payment.next.month',axis = 1)
y = df['default.payment.next.month']

In [ ]:
# EDUCATION
df['EDUCATION'] = df['EDUCATION'].replace({0: 4, 5: 4, 6: 4})

# MARRIAGE
df['MARRIAGE'] = df['MARRIAGE'].replace({0: 3})

In [ ]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Target
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [ ]:
from sklearn.preprocessing import LabelEncoder

cat_cols = ['SEX', 'EDUCATION', 'MARRIAGE']

le = LabelEncoder()
for col in cat_cols:
    df[col] = le.fit_transform(df[col])


df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Target
0,20000.0,1,1,0,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,1,1,1,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,1,1,1,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,1,1,0,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,0,1,0,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [ ]:
df['Target'].value_counts()

Target
0    23364
1     6636
Name: count, dtype: int64

In [ ]:
cols_to_drop = drop_correlated_features(df, target="Target", threshold=0.85)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Features and target
X = df.drop(columns='Target')
y = df['Target']

# Train–test split (stratified because target is imbalanced)
X_train_raw, X_test_raw, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

# Feature scaling (VERY important for kNN, SVM, Logistic Regression, MLP)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train_raw)
X_test = scaler.transform(X_test_raw)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier

models = {
    'LogisticRegression': LogisticRegression(max_iter=500, random_state=42),
    'GaussianNB': GaussianNB(),
    'KNN': KNeighborsClassifier(),
    'SVM': SVC(random_state=42),   # no probability=True -> much faster for CV
    'MLP': MLPClassifier(max_iter=500, random_state=42)
}

In [ ]:
param_grids = {
    'LogisticRegression': {
        'C': [0.1, 1, 10],
        'class_weight': [None]
    },
    'GaussianNB': {
        'var_smoothing': [1e-9, 1e-7, 1e-5]
    },
    'KNN': {
        'n_neighbors': [3, 5, 7],
        'weights': ['uniform']
    },
    'SVM': {
        'C': [0.1, 1, 10],
        'kernel': ['linear']
    },
    'MLP': {
        'hidden_layer_sizes': [(50,), (100,)],
        'alpha': [ 0.001]
    }
}

In [ ]:
from sklearn.metrics import accuracy_score, f1_score

scoring = {
    'roc_auc': 'roc_auc',   # uses scores / probabilities internally
    'f1': 'f1',
    'accuracy': 'accuracy'
}

gridsearches = {}
variance_results = {metric: {} for metric in scoring.keys()}
best_scores = {metric: {} for metric in scoring.keys()}

for name, model in models.items():
    print(f"\nRunning GridSearchCV for: {name}")
    gs = GridSearchCV(
        estimator=model,
        param_grid=param_grids[name],
        scoring=scoring,
        refit='roc_auc',   # refit using best ROC AUC
        cv=3,              # 3-fold to keep it fast
        n_jobs=-1,
        verbose=1
    )
    gs.fit(X_train, y_train)
    gridsearches[name] = gs

    # Variance of mean CV scores across all hyperparameter combinations
    for metric in scoring.keys():
        scores = gs.cv_results_[f'mean_test_{metric}']
        variance_results[metric][name] = np.var(scores)
        best_scores[metric][name] = scores.max()
        
import pandas as pd

rows = []
for metric in scoring.keys():
    for name in models.keys():
        rows.append({
            'model': name,
            'metric': metric,
            'variance': variance_results[metric][name]
        })

var_df = pd.DataFrame(rows)
display(var_df.pivot(index='model', columns='metric', values='variance'))

Running GridSearchCV for: LogisticRegression
Fitting 3 folds for each of 3 candidates, totalling 9 fits

Running GridSearchCV for: GaussianNB
Fitting 3 folds for each of 3 candidates, totalling 9 fits

Running GridSearchCV for: GaussianNB
Fitting 3 folds for each of 3 candidates, totalling 9 fits

Running GridSearchCV for: KNN
Fitting 3 folds for each of 3 candidates, totalling 9 fits

Running GridSearchCV for: KNN
Fitting 3 folds for each of 3 candidates, totalling 9 fits

Running GridSearchCV for: SVM
Fitting 3 folds for each of 3 candidates, totalling 9 fits

Running GridSearchCV for: SVM
Fitting 3 folds for each of 3 candidates, totalling 9 fits

In [ ]:
 for a